@charset "UTF-8";

body{
    background-color:black;
    /* color:rgb(160, 144, 255); */
    color:#c42bff;
    font-size: 18pt;
    /* margin-left: 2%;
    margin-right:2%; */
    text-size-adjust:initial;
}
.center{
    text-align: center;
}
#welcome{
    background-image: url("IMG/head2.png");
    background-attachment: fixed;
    background-size: cover;
    /* background-size:10%; */
    width:100%;
    height: 100%;
}
#Purple{
    background-image: url("IMG/head1.png");
    /* background-repeat: no-repeat; */
    background-size:cover;
    width:100%;
    height:1000px;
}

h1{
    float:left;
    margin:15%;
    margin-bottom: 0;
    width:calc(85%);
    height:calc(85%);
    font-size: 100pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color:#c42bff; */
    color:#b700ff;
    text-shadow: 4pt 4pt rgb(33, 0, 48);
}
h2{
    font-size: xxx-large;
    text-align: center;
    /* float:center; */
}
h3{
    font-size: xx-large;
    text-align: center;
    /* float:center; */
    color:#b792e2;
    text-shadow:3pt 3pt rgb(49, 1, 70);
}

#logoFloat{
    position: fixed;
    top:0;
    left:0;
    margin:auto;
    width:7%;
    height:7vw;
    /* border:2pt solid white; */
    /* background-image:url("IMG/Logo.png");
    background-size: cover; */
}

#centerBox{

    width: 30%;
    float: left;
    margin:1.6%;
    margin-top:0;
}

#FullBox{
    /* border:5pt solid orange; */
    text-align: center;
    padding-top: 0pt;
    padding-bottom: 5pt;
    margin-top: 5px;
    min-height: 600px;
    overflow:hidden;  /*let's div grow with text*/
}
.LinkImage{
    position: relative; /*must be relative so absolute text stays inside*/
    width: 30%;
    height: 30vw;
    object-fit: cover;
    float: left;
    margin:1.6%;
    text-align: center;
    /*puts border inside instead of outside*/
    box-sizing: border-box;
    border: 10pt solid black;
    /* background-color: rgba(160, 144, 255, 0.8); */
}

.LinkImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ViewImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .Poster{
    position: relative; /*must be relative so absolute text stays inside*/
    width: 30%;
    height: 45vw;
    object-fit: cover;
    float: left;
    margin:1.6%;
    text-align: center;
    /*puts border inside instead of outside*/
    box-sizing: border-box;
    border: 10pt solid black;
    /* background-color: rgba(160, 144, 255, 0.8); */
}
  .Sticker{
    background-color: rgb(105, 99, 109);
    position: relative; /*must be relative so absolute text stays inside*/
    width: 16.5%;
    height: 15;
    object-fit: cover;
    float: left;
    margin:1.6%;
    text-align: center;
    /*puts border inside instead of outside*/
    box-sizing: border-box;
    border: 10pt solid black;
}
.centerText{
    position: absolute; /*lets text float over image*/
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: xx-large;
    color:white;
    background-color: rgb(0, 0, 0, 0.74);
    /* box-sizing:border-box;
    border:2pt solid black; */
}
#Works{
    color:black;
    background-image: url("IMG/purplebg.jpg");
    text-align: center;
    padding-top: 10pt;
    margin-top: 0;
    width:100%;
    /* height:45vw; */
    height:50vw;
    /* height:75vw */
    /* border:3pt solid orange; */

}

#foot{
  clear:both;
    /* position:sticky; */
    /* top:0; */
    font-size: large;
    text-align: center;
    padding-top:50px;
    /* border:2pt solid white; */
}

a:link{
  color:#b800ff;
}
a:visited{
  color:#a500e7;
}