body{
    padding:5%;
    border:1px solid black;
    color:indigo;
    width:8in;
}
p{
    font-size: 16pt;
    
}
ul{
    font-size: 16pt;
    float:left;
    margin-left:10%;
    margin-right:10%;

}